# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

spelling_exclusion_path = .\exclusion.dic
spelling_checkable_types = strings,identifiers,comments
spelling_error_severity = error