name: Build and Test

on:
  push:
    branches: [ 'v[1-9][0-9].0' ]
  pull_request:
    branches: [ 'v[1-9][0-9].0' ]
  schedule:
    - cron: 0 6 * * 1

jobs:
  automerge:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3.9.1
        with:
          use-github-auto-merge: true

  build-and-test:
    name: build-and-test on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotnet SDK
        uses: actions/setup-dotnet@v4
        with:
            global-json-file: global.json
      - name: Get Build Information
        run: |
          pwd
          dotnet --info
          dotnet --version
      - name: Set up dependency caching for faster builds
        uses: actions/cache@v4
        id: nuget-cache
        with:
            path: |
              ~/.nuget/packages
              ${{ github.workspace }}/**/obj/project.assets.json
            key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
            restore-keys: |
              ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
              ${{ runner.os }}-nuget-
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --no-restore --verbosity normal